/*
    Folha de estilo do site Professor josé de Assis
    @author Professor José de Assis    
*/

/* Importação (Google Fonts) */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap");

/* LAYOUT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
:root {
  --branco: #fff;
  --cinza: #535b57;
  --cinzaClarinho: #e5e5e5;
  --cinzaClaro: #a1a1a1;
  --cinzaMedio: #4d4d4d;
  --cinzaEscuro: #3c3c3c;
  --gelo: #f1f3f4;
  --preto: #000;
  --vermelho: #cc280f;
}

/* CSS Reset */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Estrutura do site */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.Container,
.ContainerEx {
  margin: 0 auto;
}

.Container {
  padding: 50px 15px;
}

.Flex,
.Flex2,
.Flex4,
.Flex5 {
  display: flex;
}

.Flex {
  justify-content: space-between;
}

.Flex2 {
  align-items: center;
}

.Flex4 {
  flex-direction: column-reverse;
  text-align: center;
}

.Flex5 {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Cartões */
.Card {
  margin-top: 30px;
  width: 338px;
  height: 520px;
  background-color: #f1f3f4;
  border: 1px solid #a1a1a1;
  border-radius: 25px;
  text-align: center;
}

.Card img {
  border-radius: 25px 25px 0px 0px;
}

.Card h3 {
  margin: 15px 30px 0px 30px;
}

.Card p {
  text-align: left;
  color: #434343;
  padding: 10px 30px 50px 30px;
}

.Card a {
  padding: 10px 100px 10px 100px;
  border: 0;
  margin: 0;
}

/* Botões */
.Botao,
.Botao2,
.Botao3,
.Botao4,
.Botao5 {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 25px;
}

.Botao,
.Botao3 {
  color: var(--branco);
  padding: 10px 40px;
}

.Botao {
  background-color: var(--vermelho);
  margin-right: 5px;
}

.Botao2 {
  background-color: var(--gelo);
  color: var(--cinzaEscuro);
  padding: 10px 20px;
  font-size: 1em;
}

.Botao3 {
  background-color: var(--cinzaEscuro);
}

.Botao4 {
  background-color: var(--branco);
  color: var(--cinzaEscuro);
  padding: 8px 30px;
  border: 2px solid var(--cinzaEscuro);
  margin-left: 10px;
}

/* Seções */
.Todos {
  text-align: center;
  margin-top: 50px;
}

.Todos a {
  text-decoration: none;
  color: var(--cinzaEscuro);
  font-size: 1.25em;
}

/* Topo do site */
#topo {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

/* Banner de páginas */
.Banner2 {
  height: 35vh;
  background: url(../img/bannerdebian.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Banner2 h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-size: 2.75em;
  text-shadow: #000 0.05em 0.05em 0.05em;
}

/* LAYOUT <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* Smartphone portrait >>>>>>>>>>>>>>>>> */

/* Cabeçalho */
header {
  height: 60px;
}

#logo h1 {
  margin: 8px 0px 0px 10px;
  font-weight: 600;
  color: var(--cinzaEscuro);
}

#dev {
  font-weight: 600;
  color: var(--vermelho);
}

#check {
  display: none;
}

label {
  font-size: 3em;
  position: fixed;
  top: 5px;
  right: 15px;
  color: rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  background-color: rgba(31, 31, 31, 0.9);
  height: 100vh;
  position: fixed;
  top: 60px;
  right: -50%;
  width: 50%;
  transition: all 0.5s;
}

#check:checked~ul {
  right: 0;
}

nav ul li {
  padding: 17px 20px;
  border-bottom: 1px solid var(--cinzaClaro);
  text-align: right;
}

nav ul li a {
  text-decoration: none;
  color: var(--branco);
}

/* Banner */
#banner {
  height: 45vh;
  background: url(../img/bannerdevlinux.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#banner h2 {
  color: var(--branco);
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-size: 2em;
  text-shadow: 0px 5px 10px var(--cinzaMedio),
    0px 10px 10px rgba(0, 0, 0, 0.15),
    0px 15px 15px rgba(0, 0, 0, 0.1),
    0px 20px 20px rgba(0, 0, 0, 0.1);
}

#banner h3 {
  font-size: 1.25em;
  font-weight: 400;
  margin: 15px 0px 50px 0px;
  color: var(--cinzaEscuro); 
}

/* Introdução */
#intro {
  background: url(../img/background.png);
  background-size: cover;
  background-position: center;
}

#destaqueIntro {
  display: none;
}

#textoIntro {
  color: var(--branco);
}

#textoIntro h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 7px;
}

#textoIntro>p {
  margin-bottom: 25px;
}

.TopicosIntro {
  margin-top: 5px;
}

.TopicosIntro p {
  font-weight: 600;
}

.TopicosIntro img {
  margin-right: 10px;
}

/* YouTube */
#youtube {
  background: url(../img/bannerdebian.jpg);
  background-size: cover;
  background-position: center;
  color: var(--branco)
}

#imagemYoutube {
  display: none;
}

#textoYoutube h2 {
  font-family: "Orbitron", sans-serif;
  text-shadow: #000 0.05em 0.05em 0.05em;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

#textoYoutube p {
  margin-bottom: 35px;
  text-shadow: 0px 5px 10px var(--cinza),
    0px 10px 10px rgba(0, 0, 0, 0.15),
    0px 15px 15px rgba(0, 0, 0, 0.1),
    0px 20px 20px rgba(0, 0, 0, 0.1);
}

.Destacado {
  font-weight: 700;
  text-shadow: #000 0.05em 0.05em 0.05em;
}

#youtube .Botao4 {
  padding: 10px 20px;
  background-color: var(--gelo);
  color: var(--cinzaEscuro);
  font-size: 1em;
}

/* Cursos */
#cursos h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: 1.7em;
}

.Cursos {
  background-color: var(--branco);
}

.Cursos h2 {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.Cursos a {
  color: var(--branco);
}

/* Projetos */
#projetos {
  background-color: var(--cinzaClarinho);
}

#projetos h2 {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 20px;
}

#projeto {
  font-weight: 600;
  color: var(--vermelho);
}

.Todos a {
  color: var(--cinzaEscuro);
  font-weight: 600;
}

/* Rodapé */
footer {
  background-color: var(--cinzaEscuro);
  color: #fff;
  text-align: center;
  font-size: 0.875em;
}

#social {
  margin-bottom: 25px;
}

/*** Banner de páginas ***/
#logoBanner img {
  width: 128px;
  height: 128px;
}

/*** Página sobre ***/
#prof {
  border-radius: 50%;
}

#textoProf h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  text-align: left;
}

#textoProf p {
  text-align: left;
  margin-top: 15px;
}

#best {
  font-weight: 600;
}

#frase {
  font-style: italic;
}

#autor {
  font-size: 0.8em;
}

/*** Página apoio ***/
#apoio h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 8px;
}

#apoio h3 {
  font-weight: 500;
  margin-top: 15px;
  font-size: 1.25em;
}

#apoio h4 {
  font-weight: 600;
  margin-top: 15px;
}

#apoio form {
  margin: 8px 0px 10px 0px;
}

#apoio img {
  max-width: 100%;
}

.pix {
  background-color: var(--branco);
  padding: 1px 3px;
  font-weight: 600;
}

#pix {
  font-weight: 500;
  font-size: 1.1em;
  background-color: var(--gelo);
  width: 235px;
  padding: 1px 10px;
  border: 1px solid var(--cinzaClaro);
  margin: 15px 0px;
}

#pix2 {
  font-size: 0.9em;
  color: var(--cinzaEscuro);
}

/*** Páginas de conteúdo ***/
#conteudo h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 8px;
}

.Video iframe {
  margin-top: 15px;
  width: 340px;
  height: 191px;
  border: 0;
}

#conteudo h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  margin: 25px 0px 10px 0px;
}

#conteudo img {
  width: 125px;
  height: 106px;
}

#conteudo ul li {
  margin: 15px 0px 0px 20px;
}

#conteudo a {
  text-decoration: none;
}

/* Smartphone portrait <<<<<<<<<<<<<<<<< */


/* Smartphone Landscape >>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

  /* Layout */
  .Container,
  .ContainerEx {
    max-width: 540px;
  }

  #logo h1 {
    margin: 8px 0px 0px 0px;
  }

  /* Banner */
  #banner {
    height: 70vh;
    background-size: cover;
  }

  #banner h2 {
    font-size: 1.5em;
    margin: 0;
  }

  #banner h3 {
    font-size: 0.9em;
  }

  /* Rodapé */
  .Flex4 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #social {
    margin: 0;
  }

  /*** Página sobre ***/
  #textoProf {
    margin-left: 25px;
  }

  #textoProf h2 {
    font-size: 1.25em;
  }

  #textoProf p {
    margin-top: 6px;
    font-size: 0.85em;
  }

  #autor {
    font-size: 0.75em;
  }

  /*** Páginas de conteúdo ***/
  .Video iframe {
    width: 560px;
    height: 315px;
  }
}

/* Smartphone landscape <<<<<<<<<<<<<<<< */


/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

  /* Layout */
  .Container,
  .ContainerEx {
    max-width: 720px;
  }

  /* Banner */
  #banner {
    height: 45vh;
  }

  #banner h2 {
    font-size: 2.2em;
  }

  #banner h3 {
    font-size: 1em;
  }

  /* seções */
  .Cursos h2,
  #projetos h2,
  #cursos h2 {
    font-size: 1.85em;
  }
}

/* Tablet portrait <<<<<<<<<<<<<<<<<<<<< */


/* Tablet Landscape >>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

  /* Layout */
  .Container,
  .ContainerEx {
    max-width: 960px;
  }

  #banner h2 {
    font-size: 1.8em;
    margin: 0;
  }

  #banner h3 {
    font-size: 1.53em;
  }

  /* Youtube */
  #textoYoutube p {
    margin-right: 60px;
    text-shadow: none;
  }

  #imagemYoutube {
    display: inline;
  }

  #imagemYoutube img {
    width: 200px;
    height: 200px;
  }

  /*** Banner de páginas ***/
  #logoBanner img {
    width: 256px;
    height: 256px;
  }

  /*** Página sobre ***/
  #textoProf {
    margin-left: 50px;
  }

  #textoProf h2 {
    font-size: 1.5em;
  }

  #textoProf p {
    margin-top: 15px;
    font-size: 1em;
  }

  #autor {
    font-size: 0.8em;
  }
}

/* Tablet landscape <<<<<<<<<<<<<<<<<<<< */


/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

  /* Layout */
  .Container,
  .ContainerEx {
    max-width: 1140px;
  }

  /* Cabeçalho */
  header {
    height: 135px;
  }

  #logo h1 {
    margin-top: 30px;
    font-size: 3em;
  }

  label {
    display: none;
  }

  nav ul {
    width: 100%;
    position: static;
    height: auto;
    background-color: transparent;
    margin-top: 40px;
  }

  nav ul li {
    float: left;
    border: 0;
  }

  nav ul li a {
    color: #343538;
  }

  /* Destacar link ativo do menu */
  #index #m1,
  #sobre #m2,
  #curso #m3,
  #project #m4,
  #tuto #m5,
  #cafezinho #m6 {
    color: var(--vermelho);
  }

  nav ul li a:hover {
    color: var(--vermelho);
  }

  #banner h2 {
    font-size: 3em;
  }

  /* Introdução */
  #intro {
    background-attachment: fixed;
  }

  #destaqueIntro {
    display: inline;
    margin-right: 100px;
  }

  #destaqueIntro img {
    border-radius: 50%;
  }

  #textoYoutube h2 {
    font-size: 2em;
  }

  #textoYoutube p {
    font-size: 1.25em;
    margin-bottom: 50px;
  }

  #imagemYoutube img {
    margin-left: 100px;
  }

  /* Seções */
  .Cursos h2 {
    font-size: 2.5em;
  }

  #projetos h2,
  #cursos h2 {
    font-size: 2.5em;
  }
}